.Revenue {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Revenue .TableBorder {
    border: 1px solid transparent;
    border-radius: 12px;
    background-color: white;
    padding: 20px;
    margin: 30px 50px 50px 100px;
    width: 50%;
    height: 80%;
}

.Dropdown {
    position: absolute;
    float: right;
    max-width: 14%;
}

.Revenue .Text {
    margin-top: 120px;
    font-weight: 400;
}

.Revenue h5 {
    font-weight: 500;
}

.Revenue h2 {
    width: fit-content;
    margin: 50px 50px 50px 100px;
}

/* .Dropdown {
    text-align: right;
    margin: 50px 50px 0px 0px;
    max-width: 74%;
}

.Chart {
    margin: 20px 130px;
    width: 67%;
    height: 60%;
}

.TextHeader {
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px;
}

.TextHeader h5 {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 10px;
}

.Report .Table {
    padding: 0px 40px 40px 40px;
    margin: 0px 70px;
}

.Report h2 {
    width: fit-content;
    margin: 50px 50px 50px 150px;
}

.TableHeads {
    display: flex;
    flex-direction: column;
}

.Paginate {
    display: flex;
    justify-content: center;
} */